header{
    background: rgb(23, 52, 105);
}
.admin-wrapper{
    display: flex;
    height: calc(100% - 66px);
}
.admin-wrapper .left-sidebar{
flex: 2;
height: 100%;
background: #234a57;
}
.admin-wrapper .left-sidebar ul{
    list-style: none;
    margin: 8px;
    padding: 0px;
    color: white;
}
.admin-wrapper .left-sidebar ul li a{
padding: 18px;
display: block;
border-bottom: 1px solid rgb(228, 224, 22);
}
.admin-wrapper .left-sidebar ul li a:hover
{
    background: #234a57;
}

.admin-wrapper .admin-content{
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}
.admin-content .page-title{
    text-align: center;
    margin-bottom: 1.5rem;
}
table{
    width: 100%;
    font-size: 1.1rem;
}
th, td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgb(48, 41, 41);
}
.edit { 
color: chartreuse;
}
.delete{
    color: red;
}
.publish{
    color: darkcyan;
}
.edit:hover .delete:hover .publish:hover{
    text-decoration: underline;
}